.carousel {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel .arrow {
    background: white;
    border-radius: 20px;
    width: 48px;
    height: 48px;
    font-size: 25px;
    border: 1px solid black;
    color: black;
}

.carousel .arrow:focus {
    outline: none;
}

.carousel .arrow:hover {
    background: black;
    color: white;
}

.carousel .wrap {
    width: 240px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel .list {
    width: 9999px;
    display: flex;
    transition: transform 0.2s ease;
    align-items: center;
    height: 100%;
}

.carousel .list a {
    display: inline-block;
    width: 60px;
}

.carousel .list .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
}

.carousel .list .item:nth-child(1) .icon {
    background-image: url("../img/home.png");
}
.carousel .list .item:nth-child(2) .icon {
    background-image: url("../img/ballot.png");
}
.carousel .list .item:nth-child(3) .icon {
    background-image: url("../img/play.png");
}
.carousel .list .item:nth-child(4) .icon {
    background-image: url("../img/photo.png");
}
